h2 {
    border: 2px solid #000;
    box-shadow: -15px 7px 1px #000;
}

.app-container {
    display: flex;
    gap: 100px;
}
.board-section {
    display: flex;
    flex-direction: column;
    gap: 15px;


}
.board-form-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.board-list-container{
    border: 1px solid black;
    max-height: 100px;
    min-height: 100px;
    overflow: scroll;
    padding-right: 200px;
    
}
.card-item-container {
    grid-gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2rem;
}

.card-item {    
    align-items: center;
    background-color: #fff8a5;
    box-shadow: -10px 7px 7px #d3d3d3;
    display: flex;
    flex-direction: column;
    font-family: Homemade Apple, cursive;
    font-family: Concert One, cursive;
    justify-content: center;
    min-height: 200px;
    padding: 2rem;
}


.card-item-message {
    font-size: 1.4rem;
    text-align: center;
    word-break: break-word;
}

.card-item-controls {
    display: flex;
    font-family: Open Sans, sans-serif;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    width: 100%;
}